# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 빌드 임시 파일 무시
*.tlog
*.idb
*.pdb
*.obj
*.ipch
*.pch
*.exe
*.dll
*.lib
*.exp
*.log

# Visual Studio 관련 디렉토리
.vs/
.x64/
/Binaries
.Debug/
/Client/x64
/ServerCore/x64/Debug
/GameServer/x64/Debug
ServerCore/x64/Release/std.ixx.ifc.dt.module.json.command
ServerCore/x64/Release/std.ixx.ifc.dt.module.json
ServerCore/x64/Release/std.ixx.ifc.dt.d.json
ServerCore/x64/Release/std.compat.ixx.ifc.dt.module.json.command
ServerCore/x64/Release/std.compat.ixx.ifc.dt.module.json
ServerCore/x64/Release/std.compat.ixx.ifc.dt.d.json
/boost_1_85_0
/GameServer/x64
/ServerCore/x64
/GameServer/x64
GameServer/x64/Release/GameServer.iobj
GameServer/x64/Release/GameServer.ipdb
